	html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

		h1,h2,h3 {text-align: center}
		h2 {color: grey; font-weight: 800; font-size: 35px;}
		h3 {font-weight: 800; font-size: 30px;}
		p {padding: 5px 0}

		.main {width: 1200px;
		 margin: 0 auto;
		  border: 5px solid red;
		  background: silver;
		position: relative;
		text-align:center;
	}
		
.first_phones,.button_phones,.touch_phones,.modern_phones{
		 	border: solid yellow; padding:0 5px;
		 	margin: 15px 20px;

		 }
.brands_name,.menu_left{
			border: solid green; background: lime;
			padding: 10px 5px;
		}



.simens_brand_name {color: #009999}
.samsung_brand_name {color: #004da3}
.nokia_brand_name {color: #1c4598}

.menu_top{
	padding: 20px 0;
	border-bottom: solid green 3px;
	position: relative;
}


li:hover{
	/*color: white;
	background: green;
	outline:  lime solid 2px;
	*/
	background: yellow;

}
.ul_1{
	font-size: 0;
	text-align: center;
	z-index: 10;
	
}
.list_main_1_lvl{
	background: lime;
	/*border: green solid 2px;	*/
	outline:  green solid 2px;
	display: inline-block;
	margin-left: 10px;
	position: relative;

}
.ul_2{
	padding-top: 10px;
	position: absolute;
/*	top: 100%;*/
	left: 0;
	display: none;
	z-index: 10;	
}

.list_main_1_lvl:hover .ul_2{
	display: block;
}

.list_main_2_lvl{
	background: lime;
	/*border: green solid 2px;	*/
	outline:  green solid 2px;
	position: relative;
}
.ul_3{
	position: absolute;
	right: 100%;
	top: 0%;
	padding-right: 10px;
	display: none;	
}

.list_main_2_lvl:hover .ul_3{
	display: block;
}

.list_main_3_lvl{
	background: lime;
	outline:  green solid 2px;
	
}

li:first-child {
	margin-left: 0;
}
.list_main_1_lvl a{
	text-decoration-line: none;
	font-size: 30px;
	font-weight: 600;
	color: green;
	display: block;
	/*padding:10px 30px ;	*/
	padding:10px 30px 10px 80px;

}
		.menu_left {
			background: lime;
			left: 0;
			top:calc(50% - 300px);
			/*margin:-150px 0 0 0;*/
			width:300px;			
			position: fixed;
			z-index: 5;
			margin:auto 0;						
		}


.img{
	display: inline-block;
	position: relative;
	}


.picture_description{		
			padding: 0;
			display: none;
		}

.img:hover .picture_description{
			background-color: rgba(255, 255, 255, 0.5);
			/*width: calc(100% - 15px);*/
			width: 100%;
			height: 100px;			
			top: 50%;
			margin-top: -50px;
			margin-left: 0;
			z-index: 5;
			position: absolute;
			text-align: justify;
			display: block;
		}

.menu_floor{
	display: flex;
	justify-content: center;
	padding: 20px 0;
	border-top: solid green 3px;
}

.menu_floor a{
			width: 50px;
			height: 50px;
			display: block;
			background: url('../img/css_sprites.png');
}
.menu_floor li+li{
	margin-left: 25px;
}
	.menu_floor li a{
			background-position: -300px 0;
		}
		.menu_floor li+li a{
			background-position: -350px 0;
		}
		.menu_floor li+li+li a{
			background-position: -400px 0;
		}
		.menu_floor li+li+li+li a{
			background-position: -450px 0;
		}
		.menu_floor li+li+li+li+li a{
			background-position: -500px 0;
		}
		/*.menu_floor li+li+li+li+li+li a{
			background-position: -550px 0;
		}*/

		.list_main_1_lvl a:before{
				content: "";
			background: url('../img/css_sprites.png');
			
			width: 50px;
			height: 50px;
			position: absolute;
			/*right: 0;*/
			left: 0;
			top: 0;
		}
		.right_logo a:after{
				content: "";			
				right: 0;
				top: 0;
				padding:10px 80px 10px 30px;
				background: red;


		}


		.ul_1 li a:before{
			background-position: -00px 0;
		}
		.ul_1 li+li a:before{
			background-position: -50px 0;
		}
		.ul_1 li+li+li a:before{
			background-position: -100px 0;
		}
		.ul_2 li+li a:{
			background-position: -350px 0;
		}
		

		.ul_1 li+li+li:hover a:before{
			background-position: -250px 0;
		}
		.ul_2 li+li:hover a:before{
			background-position: -350px 0;
		